input{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: lightcyan;
    font-family: Georgia;
}
h1{
    color: navy;
    padding-left: 25px;
    margin-bottom: -20px;
    padding-top: 20px;
}
h2{
    color: palevioletred;
    padding-left: 15px;
    padding-top: 35px;
}

label{
    color: navy;
    padding-right: 10px;
}
div{
    padding-left: 25px;
}

.bolded{
    font-weight: 100;
}

.itemContain{
    padding-left: 25px;

}

.ostaaContain{
    border-bottom: 8px navy solid;
    width: 100vw;
    height: 100px;
    margin-bottom: -20px;
}

.welcomeMessage_HOME{
    /* font-weight: 100;
    font-size: 28px;
    color: palevioletred;
    padding-top: 25px; */
    font-weight: bold;
    margin-top: 50px;
}

table{
    width: 100vw;
    margin-top: 20px;
}

th{
    width: 50vw;
    font-weight: 100;
    font-size: 20px;
    color: palevioletred;
    padding-top: 25px;
    border: 2px navy solid;
}

.homePageButton{
    width: 300px;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 15px;
}

#searchListings{
    width: 120px;
    height: 50px;
}

.homeTextInput{
    height: 40px;
}




.singleItemContainer{
    margin: 10px;
    border: solid 3px navy;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.itemTitle{
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.itemDesc{
    text-align: left;
    color: navy;
    font-size: 16px;
    padding-bottom: 15px;
    padding-top: 15px;
}

/* .itemPrice{
    text-
} */